# Kickstarter

Geting insights using the data <BR />
What will make your project at Kickstarter successful?

## Import stuff

In [81]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

%matplotlib inline

## Load the data

In [82]:
data = pd.read_csv('./clean_data.csv')
data.head()

,project id,name,url,category,subcategory,city,state,global,status,canceled,...,comments,duration,weekday,weekday_nr,nr_in_month,month,month_nr,year,time,date
0,39409,WHILE THE TREES SLEEP,http://www.kickstarter.com/projects/emiliesaba...,Film_Video,Short Film,Columbia,MO,US,successful,0,...,2,30.00,Fri,5,19,Aug,8,2011,19:28:17 -0000,2011-08-19
1,126581,Educational Online Trading Card Game,http://www.kickstarter.com/projects/972789543/...,Games,Board_Card Games,Maplewood,NJ,US,failed,0,...,0,47.18,Mon,1,2,Aug,8,2010,03:59:00 -0000,2010-08-02
2,138119,STRUM,http://www.kickstarter.com/projects/185476022/...,Film_Video,Animation,Los Angeles,CA,US,live,0,...,0,28.00,Fri,5,8,Jun,6,2012,00:00:31 -0000,2012-06-08
3,237090,GETTING OVER - One son's search to finally kno...,http://www.kickstarter.com/projects/charnick/g...,Film_Video,Documentary,Los Angeles,CA,US,successful,0,...,0,32.22,Sun,7,8,Apr,4,2012,02:14:00 -0000,2012-04-08
4,246101,The Launch of FlyeGrlRoyalty &quot;The New Nam...,http://www.kickstarter.com/projects/flyegrlroy...,Fashion,Fashion,Novi,MI,US,failed,0,...,0,30.00,Wed,3,1,Jun,6,2011,15:25:39 -0000,2011-06-01

In [83]:
### Fail rate and sucess rate per state (brute force solution)

In [84]:
apelsin = data.groupby('state').sum()
apelsin.head()

,project id,canceled,failed,live,successful,suspended,goal,pledged,funded percentage,backers,levels,updates,comments,duration,weekday_nr,nr_in_month,month_nr,year
state,,,,,,,,,,,,,,,,,,
AK,111596899010,1,54,13,41,0,1386764.00,352367.0,57.109109,4667,797,346,266,4177.81,440,1734,599,219248
AL,176813834102,0,88,19,59,0,2080352.00,475996.0,86.402034,6596,1280,510,697,6608.23,753,2600,963,333875
AR,121944410094,0,54,13,38,0,928361.00,212493.0,63.912967,3008,820,347,287,4206.37,434,1580,553,211196
AZ,698237561472,3,319,78,246,0,8092358.09,2072754.0,433.139596,29974,5148,2518,3869,25469.19,2701,9651,3900,1299342
Afghanistan,17327868835,0,5,2,9,0,194400.00,90443.0,13.175067,859,111,117,78,571.53,76,196,70,32186

In [85]:
apelsin = apelsin.drop(['project id','goal','pledged','funded percentage','duration','backers','levels',
                       'updates','comments','weekday_nr','nr_in_month','month_nr','year'], axis=1)
apelsin.head()

             canceled  failed  live  successful  suspended
state
AK                  1      54    13          41          0
AL                  0      88    19          59          0
AR                  0      54    13          38          0
AZ                  3     319    78         246          0
Afghanistan         0       5     2           9          0

In [86]:
apelsin['sum'] = apelsin['canceled'] + apelsin['failed'] + apelsin['live'] + apelsin['successful'] + apelsin['suspended']
apelsin.head()

             canceled  failed  live  successful  suspended  sum
state
AK                  1      54    13          41          0  109
AL                  0      88    19          59          0  166
AR                  0      54    13          38          0  105
AZ                  3     319    78         246          0  646
Afghanistan         0       5     2           9          0   16

In [87]:
apelsin['success rate'] = apelsin['successful'] / apelsin['sum']
apelsin['fail rate'] = apelsin['failed'] / apelsin['sum']
apelsin.head()

,canceled,failed,live,successful,suspended,sum,success rate,fail rate
state,,,,,,,,
AK,1,54,13,41,0,109,0.376147,0.495413
AL,0,88,19,59,0,166,0.355422,0.530120
AR,0,54,13,38,0,105,0.361905,0.514286
AZ,3,319,78,246,0,646,0.380805,0.493808
Afghanistan,0,5,2,9,0,16,0.562500,0.312500

## Was the initial findings in themself correct?

### Best lenght for compaign?
more then $6,000 - 35 days

less then $6,000 - a shorter duration is better

### Different pledge goals at low and high amonts
But for both intervals a low pledge seem to me more successful. (No surprise)

### Some types of campaign are more successful than others
<u>Category</u>

Dance, theater, music (most successfull)

Fashion, publishing, technology (fashion is by far least successfull)


<u>Sub categorys of the Music category</u>

Indie rock, country & folk, jazz, Classical music (most successfull)

Hip hop, electronic music, world music (Hip hop is by far least successfull)

### When to launch?

Results from excel analysis...

Month: February

Day: Monday

Time: 9:00 am (EST)

(The variables was studied individually, this means that a Monday in February at 9:00 am might not necessarily be the best time.)

In [88]:
data['status'].unique()

array(['successful', 'failed', 'live', 'canceled', 'suspended'],
      dtype=object)

#### Best month to launch

In [89]:
# Make a new df based on month and status dummies
best_month = data.groupby(['month'])[['successful', 'failed', 'live', 'canceled', 'suspended']].sum()

best_month

       successful  failed  live  canceled  suspended
month
Apr          2924    2189     0         0          0
Aug          1662    1372     1         0          0
Dec          1722    1558     0         0          0
Feb          1761    1463     0         0          0
Jan          1655    1441     0         0          0
Jul          1504    1332   709         5          0
Jun          1530    1309  3194        41          4
Mar          2580    1960     0         0          0
May          3037    2659     0        13          0
Nov          1513    1122     0         0          0
Oct          1524    1266     0         0          0
Sep          1496    1251     0         0          0

In [90]:
# Creat a column for total number of projects
best_month['total'] = best_month[['successful', 'failed', 'live', 'canceled', 'suspended']].sum(axis=1)

best_month

       successful  failed  live  canceled  suspended  total
month
Apr          2924    2189     0         0          0   5113
Aug          1662    1372     1         0          0   3035
Dec          1722    1558     0         0          0   3280
Feb          1761    1463     0         0          0   3224
Jan          1655    1441     0         0          0   3096
Jul          1504    1332   709         5          0   3550
Jun          1530    1309  3194        41          4   6078
Mar          2580    1960     0         0          0   4540
May          3037    2659     0        13          0   5709
Nov          1513    1122     0         0          0   2635
Oct          1524    1266     0         0          0   2790
Sep          1496    1251     0         0          0   2747

In [ ]:
## How to handle that there are live projects in June and July at the moment...

In [91]:
# Look at the successrate per month
best_month['successful'] / best_month['total']

month
Apr    0.571876
Aug    0.547611
Dec    0.525000
Feb    0.546216
Jan    0.534561
Jul    0.423662
Jun    0.251728
Mar    0.568282
May    0.531967
Nov    0.574194
Oct    0.546237
Sep    0.544594
dtype: float64

BEST MONTH = November

#### Best day of the week to launch

In [92]:
# Make a new df based on weekday and status dummies
best_weekday = data.groupby(['weekday'])[['successful', 'failed', 'live', 'canceled', 'suspended']].sum()

best_weekday

         successful  failed  live  canceled  suspended
weekday
Fri            3407    2897   595        11          2
Mon            3410    2701   547         8          1
Sat            3673    3029   714        12          0
Sun            3401    2845   716        10          0
Thu            3300    2639   528         8          0
Tue            2764    2390   399         6          0
Wed            2953    2421   405         4          1

In [93]:
# Creat a column for total number of projects
best_weekday['total'] = best_weekday[['successful', 'failed', 'live', 'canceled', 'suspended']].sum(axis=1)

best_weekday

         successful  failed  live  canceled  suspended  total
weekday
Fri            3407    2897   595        11          2   6912
Mon            3410    2701   547         8          1   6667
Sat            3673    3029   714        12          0   7428
Sun            3401    2845   716        10          0   6972
Thu            3300    2639   528         8          0   6475
Tue            2764    2390   399         6          0   5559
Wed            2953    2421   405         4          1   5784

In [ ]:
### Should we take the rate of live projcets into consideration...

In [94]:
# Look at the successrate per weekday
best_weekday['successful'] / best_weekday['total']

weekday
Fri    0.492911
Mon    0.511474
Sat    0.494480
Sun    0.487808
Thu    0.509653
Tue    0.497212
Wed    0.510546
dtype: float64

BEST DAY OF THE WEEK =  Monday

#### Best time of the day to launch

In [95]:
data['time'].dtype

dtype('O')

In [ ]:
# the column is not date time format any more

In [97]:
data['time'].head()

0    19:28:17 -0000
1    03:59:00 -0000
2    00:00:31 -0000
3    02:14:00 -0000
4    15:25:39 -0000
Name: time, dtype: object

In [ ]:
# remove '-0000' from time column

In [96]:
data['time'].astype(str).str.split(':', expand=True).astype(int)

ValueError: invalid literal for int() with base 10: '17 -0000'

In [55]:
df[['h','m','s']] = df['time'].astype(str).str.split(':', expand=True).astype(int)

AttributeError: Can only use .dt accessor with datetimelike values

In [53]:
data.groupby(['time'])[['successful', 'failed', 'live', 'canceled', 'suspended']].sum()

                successful  failed  live  canceled  suspended
time
00:00:00 -0000         239     126    36         1          0
00:00:01 -0000           1       0     0         0          0
00:00:02 -0000           1       0     0         0          0
00:00:04 -0000           2       0     0         0          0
00:00:06 -0000           0       1     0         0          0
00:00:07 -0000           0       1     0         0          0
00:00:09 -0000           1       0     0         0          0
00:00:10 -0000           0       1     0         0          0
00:00:12 -0000           0       1     0         0          0
00:00:14 -0000           1       0     0         0          0
00:00:15 -0000           2       0     0         0          0
00:00:17 -0000           1       0     0         0          0
00:00:21 -0000           0       1     0         0          0
00:00:22 -0000           0       0     1         0          0
00:00:26 -0000           1       0     0         0          0
00:00:28 -0000           0       1     0         0          0
00:00:30 -0000           0       1     0         0          0
00:00:31 -0000           0       0     1         0          0
00:00:32 -0000           1       3     0         0          0
00:00:33 -0000           0       0     1         0          0
00:00:34 -0000           0       1     0         0          0
00:00:36 -0000           0       1     0         0          0
00:00:37 -0000           1       0     0         0          0
00:00:39 -0000           1       0     0         0          0
00:00:42 -0000           1       2     0         0          0
00:00:43 -0000           0       1     0         0          0
00:00:44 -0000           0       1     0         0          0
00:00:45 -0000           1       0     0         0          0
00:00:49 -0000           1       1     0         0          0
00:00:50 -0000           1       0     0         0          0
...                    ...     ...   ...       ...        ...
23:58:30 -0000           0       1     0         0          0
23:58:31 -0000           0       2     0         0          0
23:58:32 -0000           1       0     0         0          0
23:58:40 -0000           0       2     0         0          0
23:58:41 -0000           0       1     0         0          0
23:58:44 -0000           1       0     0         0          0
23:58:49 -0000           0       1     0         0          0
23:58:53 -0000           0       1     0         0          0
23:58:56 -0000           2       0     0         0          0
23:58:58 -0000           1       0     0         0          0
23:58:59 -0000           0       1     0         0          0
23:59:00 -0000          20       7     2         0          0
23:59:05 -0000           1       0     0         0          0
23:59:07 -0000           1       0     0         0          0
23:59:14 -0000           1       0     0         0          0
23:59:15 -0000           1       0     0         0          0
23:59:17 -0000           1       0     0         0          0
23:59:19 -0000           0       1     0         0          0
23:59:20 -0000           0       0     1         0          0
23:59:26 -0000           1       0     0         0          0
23:59:27 -0000           0       1     0         0          0
23:59:28 -0000           0       1     0         0          0
23:59:30 -0000           0       1     0         0          0
23:59:32 -0000           0       1     0         0          0
23:59:39 -0000           1       0     0         0          0
23:59:41 -0000           0       1     0         0          0
23:59:42 -0000           0       0     1         0          0
23:59:43 -0000           0       0     1         0          0
23:59:44 -0000           1       0     0         0          0
23:59:56 -0000           0       1     0         0          0

[24189 rows x 5 columns]

### More comments, more success

Dubble the successrate with 1-2 comments

Tripple the successrate with 10 comments