# Kickstarter

What will make your project at Kickstarter successful?

## Import stuff

In [307]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

%matplotlib inline

## Load the data

In [308]:
data = pd.read_csv('./DSI_kickstarterscrape_dataset.csv')

## Look at the data

Take an initial look at the data and especially the columns

In [309]:
data.head(3)

,project id,name,url,category,subcategory,location,status,goal,pledged,funded percentage,backers,funded date,levels,reward levels,updates,comments,duration
0,39409,WHILE THE TREES SLEEP,http://www.kickstarter.com/projects/emiliesaba...,Film & Video,Short Film,"Columbia, MO",successful,10500.0,11545.0,1.099524,66,"Fri, 19 Aug 2011 19:28:17 -0000",7,"$25,$50,$100,$250,$500,$1,000,$2,500",10,2,30.00
1,126581,Educational Online Trading Card Game,http://www.kickstarter.com/projects/972789543/...,Games,Board & Card Games,"Maplewood, NJ",failed,4000.0,20.0,0.005000,2,"Mon, 02 Aug 2010 03:59:00 -0000",5,"$1,$5,$10,$25,$50",6,0,47.18
2,138119,STRUM,http://www.kickstarter.com/projects/185476022/...,Film & Video,Animation,"Los Angeles, CA",live,20000.0,56.0,0.002800,3,"Fri, 08 Jun 2012 00:00:31 -0000",10,"$1,$10,$25,$40,$50,$100,$250,$1,000,$1,337,$9,001",1,0,28.00

How many rows and columns

In [310]:
data.shape

(45957, 17)

Get more info about the data

In [311]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45957 entries, 0 to 45956
Data columns (total 17 columns):
project id           45957 non-null int64
name                 45957 non-null object
url                  45957 non-null object
category             45957 non-null object
subcategory          45957 non-null object
location             44635 non-null object
status               45957 non-null object
goal                 45957 non-null float64
pledged              45945 non-null float64
funded percentage    45957 non-null float64
backers              45957 non-null int64
funded date          45957 non-null object
levels               45957 non-null int64
reward levels        45898 non-null object
updates              45957 non-null int64
comments             45957 non-null int64
duration             45957 non-null float64
dtypes: float64(4), int64(5), object(8)
memory usage: 6.0+ MB

Get more info about missing data

In [312]:
data.isnull().sum()

project id              0
name                    0
url                     0
category                0
subcategory             0
location             1322
status                  0
goal                    0
pledged                12
funded percentage       0
backers                 0
funded date             0
levels                  0
reward levels          59
updates                 0
comments                0
duration                0
dtype: int64

Look for duplicates

In [313]:
data.duplicated().sum()

89

Get statistical info about the data (might need to be redone after other things are fixed with the data). Here we can also see signs of outliers.

In [314]:
data.describe()

,project id,goal,pledged,funded percentage,backers,levels,updates,comments,duration
count,4.595700e+04,4.595700e+04,4.594500e+04,45957.000000,45957.000000,45957.000000,45957.00000,45957.000000,45957.000000
mean,1.080800e+09,1.194271e+04,4.980750e+03,1.850129,69.973192,8.004939,4.08508,8.379529,39.995547
std,6.218057e+08,1.887583e+05,5.674162e+04,88.492706,688.628479,4.233907,6.43922,174.015737,17.414458
min,3.940900e+04,1.000000e-02,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000
25%,5.438962e+08,1.800000e+03,1.960000e+02,0.044000,5.000000,5.000000,0.00000,0.000000,30.000000
50%,1.078345e+09,4.000000e+03,1.310000e+03,1.000000,23.000000,7.000000,2.00000,0.000000,32.000000
75%,1.621596e+09,9.862000e+03,4.165000e+03,1.115640,59.000000,10.000000,6.00000,3.000000,48.390000
max,2.147460e+09,2.147484e+07,1.026684e+07,15066.000000,87142.000000,80.000000,149.00000,19311.000000,91.960000

## Work the data (EDA/Munging)

### Duplicates

#### Drop the 89 duplicated rows

In [315]:
data = data.drop_duplicates(subset=None, keep='first')

### Missing values

In [316]:
# drop missnig rows with missing values in pledge column or reward levels column
data = data.dropna(axis=0, how='any', thresh=None, subset=['pledged', 'reward levels'], inplace=False)

In [317]:
# replace missing value in location column with X, X
data = data.fillna('X, X')

### Check for outliers

In [318]:
data.describe()

,project id,goal,pledged,funded percentage,backers,levels,updates,comments,duration
count,4.579700e+04,4.579700e+04,4.579700e+04,45797.000000,45797.000000,45797.000000,45797.000000,45797.000000,45797.000000
mean,1.078608e+09,1.193550e+04,4.989628e+03,1.629066,69.556783,8.011988,4.086578,8.180055,39.980255
std,6.206747e+08,1.890659e+05,5.683255e+04,75.324487,688.658472,4.223183,6.441296,171.194596,17.402192
min,3.940900e+04,5.000000e-01,0.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,5.424784e+08,1.800000e+03,2.000000e+02,0.044000,5.000000,5.000000,0.000000,0.000000,30.000000
50%,1.076062e+09,4.000000e+03,1.315000e+03,1.000000,23.000000,7.000000,2.000000,0.000000,31.980000
75%,1.618457e+09,9.900000e+03,4.169000e+03,1.115385,60.000000,10.000000,6.000000,3.000000,48.340000
max,2.147460e+09,2.147484e+07,1.026684e+07,15066.000000,87142.000000,80.000000,149.000000,19311.000000,91.960000

### funded date column: Split column into different columns

In [319]:
data['funded date'].head()

0    Fri, 19 Aug 2011 19:28:17 -0000
1    Mon, 02 Aug 2010 03:59:00 -0000
2    Fri, 08 Jun 2012 00:00:31 -0000
3    Sun, 08 Apr 2012 02:14:00 -0000
4    Wed, 01 Jun 2011 15:25:39 -0000
Name: funded date, dtype: object

In [320]:
new_date = data['funded date'].str.split(", ", n=1, expand=True)
data["weekday"]= new_date[0] 
data["date"]= new_date[1]

In [321]:
new_date2 = data['date'].str.split(" ", n=1, expand=True)
data["nr_in_month"]= new_date2[0] 
data["date2"]= new_date2[1]

In [322]:
new_date3 = data['date2'].str.split(" ", n=1, expand=True)
data["month"]= new_date3[0] 
data["date3"]= new_date3[1]

In [323]:
new_date4 = data['date3'].str.split(" ", n=1, expand=True)
data["year"]= new_date4[0] 
data["time"]= new_date4[1]

In [324]:
# remove columns not needed
data = data.drop(['date', 'date2', 'date3'], axis=1)

In [325]:
### Make day column to number (1 = monday, 2 = tuesday etc.)
data['weekday_nr'] = data['weekday'].replace({'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6, 'Sun':7})

In [326]:
### Make month column to number (1 = jan, 2 = feb etc.)
data['month_nr'] = data['month'].replace({'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 
                                          'Jun': '06', 'Jul':'07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 
                                          'Nov': '11', 'Dec': '12'})

In [327]:
### Combind day_nr, month_nr and year (all objects)

In [328]:
data['date'] = data['month_nr'] + '/' + data['nr_in_month'] + '/' + data['year']

In [329]:
data.head(3)

,project id,name,url,category,subcategory,location,status,goal,pledged,funded percentage,...,comments,duration,weekday,nr_in_month,month,year,time,weekday_nr,month_nr,date
0,39409,WHILE THE TREES SLEEP,http://www.kickstarter.com/projects/emiliesaba...,Film & Video,Short Film,"Columbia, MO",successful,10500.0,11545.0,1.099524,...,2,30.00,Fri,19,Aug,2011,19:28:17 -0000,5,08,08/19/2011
1,126581,Educational Online Trading Card Game,http://www.kickstarter.com/projects/972789543/...,Games,Board & Card Games,"Maplewood, NJ",failed,4000.0,20.0,0.005000,...,0,47.18,Mon,02,Aug,2010,03:59:00 -0000,1,08,08/02/2010
2,138119,STRUM,http://www.kickstarter.com/projects/185476022/...,Film & Video,Animation,"Los Angeles, CA",live,20000.0,56.0,0.002800,...,0,28.00,Fri,08,Jun,2012,00:00:31 -0000,5,06,06/08/2012

In [330]:
### Make date time format

In [331]:
data['date'] = pd.to_datetime(data['date'], format='%m/%d/%Y')

In [332]:
# turn to right format
data['nr_in_month'] = pd.to_numeric(data['nr_in_month'])
data['year'] = pd.to_numeric(data['year'])
data['month_nr'] = pd.to_numeric(data['month_nr'])

In [333]:
# remove dollar signs from reward levels
data['reward levels'] = data['reward levels'].str.replace('$', '', regex=True)

In [334]:
# need to split into differnt cells if I'm using

In [335]:
# split location column into 2 new columns (city and state) state can also be country

In [336]:
new_location = data['location'].str.split(", ", n=1, expand=True)
data["city"]= new_location[0] 
data["state"]= new_location[1]

In [337]:
# remove column not needed
data = data.drop(['location'], axis=1)

In [338]:
# status column

In [339]:
data.groupby('status').size()

status
canceled         59
failed        18922
live           3904
successful    22908
suspended         4
dtype: int64

In [340]:
data.groupby(['state', 'status']).size()

state                 status
AK                    canceled        1
                      failed         54
                      live           13
                      successful     41
AL                    failed         88
                      live           19
                      successful     59
AR                    failed         54
                      live           13
                      successful     38
AZ                    canceled        3
                      failed        319
                      live           78
                      successful    246
Afghanistan           failed          5
                      live            2
                      successful      9
Argent                successful      4
Argentina             failed          7
                      live            3
                      successful     18
Armenia               failed          1
                      live            1
                      successful      3
Australia             failed         20
                      live            5
                      successful     32
Austria               failed          9
                      successful     10
Bahamas               failed          1
                                   ...
Vanuatu               successful      2
Venezuela             failed          2
                      live            1
                      successful      1
Viet Nam              failed          1
                      live            1
                      successful      3
Virgin Islands, U.S.  failed          1
                      successful      1
Virginia              live            1
WA                    canceled        3
                      failed        534
                      live          150
                      successful    733
WI                    canceled        1
                      failed        168
                      live           54
                      successful    173
WV                    failed         32
                      live            3
                      successful     33
WY                    failed         22
                      live            4
                      successful      5
X                     failed        679
                      successful    626
Zambia                live            1
                      successful      2
Zimbabwe              failed          3
                      successful      1
Length: 495, dtype: int64

In [341]:
# make dummies out of staus column
status_dummies = pd.get_dummies(data['status'])

In [342]:
# add dummies column to df
data2 = pd.concat([data, status_dummies], axis=1)
data2.head(3)

,project id,name,url,category,subcategory,status,goal,pledged,funded percentage,backers,...,weekday_nr,month_nr,date,city,state,canceled,failed,live,successful,suspended
0,39409,WHILE THE TREES SLEEP,http://www.kickstarter.com/projects/emiliesaba...,Film & Video,Short Film,successful,10500.0,11545.0,1.099524,66,...,5,8,2011-08-19,Columbia,MO,0,0,0,1,0
1,126581,Educational Online Trading Card Game,http://www.kickstarter.com/projects/972789543/...,Games,Board & Card Games,failed,4000.0,20.0,0.005000,2,...,1,8,2010-08-02,Maplewood,NJ,0,1,0,0,0
2,138119,STRUM,http://www.kickstarter.com/projects/185476022/...,Film & Video,Animation,live,20000.0,56.0,0.002800,3,...,5,6,2012-06-08,Los Angeles,CA,0,0,1,0,0

### What I need to fix
- Make column stating if its the US or international
- Category column: Make dummies out of categories - make dummies or use group by? 
- Subcategory column: Make dummies out of subcategories - make dummies or use group by? 
- Status column: Give the status numbers. (1 = successful, 2 = failed, 3 = live) or dummies
- Reward levels column: Make one column for each input (dummy?)...Make numeric

In [343]:
### get correct order of df
data2 = data2[['project id', 'name', 'url', 'category', 'subcategory', 'city', 'state', 'status', 'canceled',
               'failed', 'live', 'successful', 'suspended', 'goal', 'pledged', 'funded percentage', 'backers',
               'funded date', 'levels', 'reward levels', 'updates', 'comments', 'duration', 'weekday', 'weekday_nr', 
               'nr_in_month', 'month', 'month_nr', 'year', 'time', 'date']]

data2.head()

,project id,name,url,category,subcategory,city,state,status,canceled,failed,...,comments,duration,weekday,weekday_nr,nr_in_month,month,month_nr,year,time,date
0,39409,WHILE THE TREES SLEEP,http://www.kickstarter.com/projects/emiliesaba...,Film & Video,Short Film,Columbia,MO,successful,0,0,...,2,30.00,Fri,5,19,Aug,8,2011,19:28:17 -0000,2011-08-19
1,126581,Educational Online Trading Card Game,http://www.kickstarter.com/projects/972789543/...,Games,Board & Card Games,Maplewood,NJ,failed,0,1,...,0,47.18,Mon,1,2,Aug,8,2010,03:59:00 -0000,2010-08-02
2,138119,STRUM,http://www.kickstarter.com/projects/185476022/...,Film & Video,Animation,Los Angeles,CA,live,0,0,...,0,28.00,Fri,5,8,Jun,6,2012,00:00:31 -0000,2012-06-08
3,237090,GETTING OVER - One son's search to finally kno...,http://www.kickstarter.com/projects/charnick/g...,Film & Video,Documentary,Los Angeles,CA,successful,0,0,...,0,32.22,Sun,7,8,Apr,4,2012,02:14:00 -0000,2012-04-08
4,246101,The Launch of FlyeGrlRoyalty &quot;The New Nam...,http://www.kickstarter.com/projects/flyegrlroy...,Fashion,Fashion,Novi,MI,failed,0,1,...,0,30.00,Wed,3,1,Jun,6,2011,15:25:39 -0000,2011-06-01

In [344]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45797 entries, 0 to 45956
Data columns (total 31 columns):
project id           45797 non-null int64
name                 45797 non-null object
url                  45797 non-null object
category             45797 non-null object
subcategory          45797 non-null object
city                 45797 non-null object
state                45796 non-null object
status               45797 non-null object
canceled             45797 non-null uint8
failed               45797 non-null uint8
live                 45797 non-null uint8
successful           45797 non-null uint8
suspended            45797 non-null uint8
goal                 45797 non-null float64
pledged              45797 non-null float64
funded percentage    45797 non-null float64
backers              45797 non-null int64
funded date          45797 non-null object
levels               45797 non-null int64
reward levels        45797 non-null object
updates              45797 non-null int64
comments             45797 non-null int64
duration             45797 non-null float64
weekday              45797 non-null object
weekday_nr           45797 non-null int64
nr_in_month          45797 non-null int64
month                45797 non-null object
month_nr             45797 non-null int64
year                 45797 non-null int64
time                 45797 non-null object
date                 45797 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(9), object(12), uint8(5)
memory usage: 9.7+ MB

### name column: Turn all letters to lower case

In [345]:
data2['name'] = data2['name'].str.lower()
data2.head(3)

,project id,name,url,category,subcategory,city,state,status,canceled,failed,...,comments,duration,weekday,weekday_nr,nr_in_month,month,month_nr,year,time,date
0,39409,while the trees sleep,http://www.kickstarter.com/projects/emiliesaba...,Film & Video,Short Film,Columbia,MO,successful,0,0,...,2,30.00,Fri,5,19,Aug,8,2011,19:28:17 -0000,2011-08-19
1,126581,educational online trading card game,http://www.kickstarter.com/projects/972789543/...,Games,Board & Card Games,Maplewood,NJ,failed,0,1,...,0,47.18,Mon,1,2,Aug,8,2010,03:59:00 -0000,2010-08-02
2,138119,strum,http://www.kickstarter.com/projects/185476022/...,Film & Video,Animation,Los Angeles,CA,live,0,0,...,0,28.00,Fri,5,8,Jun,6,2012,00:00:31 -0000,2012-06-08

In [346]:
# Make a column stating if its an international or national project

In [347]:
data2.state.unique()

array(['MO', 'NJ', 'CA', 'MI', 'OR', 'TN', 'IL', 'X', 'NY', 'DC', 'NE',
       'ID', 'FL', 'TX', 'CO', 'ME', 'Taiwan', 'IN', 'OH', 'Norway', 'MA',
       'MN', 'PA', 'NC', 'WV', 'CT', 'Chile', 'MD', 'HI', 'VA', 'WA',
       'AZ', 'OK', 'NV', 'Haiti', 'GA', 'AL', 'UT', 'Canada', 'LA', 'SC',
       'Ecuador', 'WI', 'Jamaica', 'Argentina', 'Hong Kong', 'Germany',
       'NM', 'Guatemala', 'NH', 'IA', 'WY', 'Australia', 'RI', 'Sweden',
       'France', 'DE', 'South Africa', 'AK', 'Nepal', 'MT', 'KY', 'VT',
       'Kenya', 'Bosnia and Herzegovina', 'Iceland', 'Mexico', 'KS',
       'Hungary', 'Indonesia', 'China', 'SD', 'Cuba', 'Peru', 'Italy',
       'Netherlands', 'Singapore', 'Ethiopia', 'New Zealand',
       'United Kingdom', 'Austria', 'Turkey', 'AR', 'Mt', 'Congo',
       'Colombia', 'India', 'Mongolia', 'MS', 'Israel', 'Dominica',
       'Spain', 'Finland', 'Czech Republic', 'Japan',
       'Virgin Islands, U.S.', 'Lebanon', 'Armenia', 'Portugal', 'Qatar',
       'Morocco', 'Martinique', 'Puerto Rico', 'Afghanistan', 'Denmark',
       'Tanzania', 'Kazakhstan', 'Zambia', 'Switzerland', 'Egypt',
       'Svalbard and Jan Mayen', 'ND', 'Burkina Faso', 'Liberia', 'Ghana',
       'Nicaragua', 'Russia', 'Ukraine', 'Bulgaria', 'South Korea',
       'Brazil', 'Rwanda', 'Costa Rica', 'Philippines', 'Pakistan',
       'El Salvador', 'Panama', 'United Arab Emirates', 'Romania',
       'Honduras', 'Palestinian Territories', 'Poland', 'Georgia',
       'Syrian Arab Republic', 'Bolivia', 'Greece', 'Cambodia', 'Nigeria',
       'Mali', 'Saudi Arabia', 'Argent', 'Iraq', 'Cameroon', 'Namibia',
       'Ireland', 'Venezuela', None, 'Thailand', 'Jordan', 'Tunisia',
       'Zimbabwe', 'Iran', 'Sierra Leone', 'Isle of Man',
       'Central African Republic', 'Serbia', 'Belize', 'Uganda', 'Malta',
       'Slovenia', 'Sudan', 'Belgium', 'Myanmar', 'Malaysia',
       'North Korea', 'Greenland', 'Senegal', 'Bahamas', 'Malawi',
       'Mozambique', 'Bhutan', 'Lithuania', 'Micronesia',
       'Equatorial Guinea', 'Tajikistan', 'Kyoto, Japan', 'Sri Lanka',
       'Libyan Arab Jamahiriya', 'Guinea', 'Bermuda', 'Belarus',
       'Estonia', 'Suriname', 'Dominican Republic', 'Vanuatu',
       'Trinidad and Tobago', 'Cyprus', 'Macedonia', 'Viet Nam',
       'Scotland, United Kingdom', 'Barbados', 'Swaziland',
       'Falkland Islands', 'Kyrgyzstan', 'Bangladesh', 'Laos',
       'Middleburg, MD', 'Papua New Guinea', 'Virginia', 'Uruguay',
       'Guam', 'Dominican Re', 'Saint Lucia'], dtype=object)

In [348]:
# Looking at unique values we first need to fix some problems with the column

In [349]:
# Look at row with city and state in state column
data2.loc[data2['state'] == 'Middleburg, MD']

,project id,name,url,category,subcategory,city,state,status,canceled,failed,...,comments,duration,weekday,weekday_nr,nr_in_month,month,month_nr,year,time,date
34811,1637912974,light ball,http://www.kickstarter.com/projects/819627388/...,Technology,Technology,10,"Middleburg, MD",failed,0,1,...,0,49.09,Sat,6,31,Mar,3,2012,03:59:00 -0000,2012-03-31

In [351]:
# Replace 10 with Middleburg
data2['city'] = data2['city'].replace('10', 'Middleburg')

In [354]:
# Make sure that city now is Middleburg
data2.loc[34811 , : ]

project id                                                  1637912974
name                                                        light ball
url                  http://www.kickstarter.com/projects/819627388/...
category                                                    Technology
subcategory                                                 Technology
city                                                        Middleburg
state                                                   Middleburg, MD
status                                                          failed
canceled                                                             0
failed                                                               1
live                                                                 0
successful                                                           0
suspended                                                            0
goal                                                             19500
pledged                                                            103
funded percentage                                           0.00528205
backers                                                              3
funded date                            Sat, 31 Mar 2012 03:59:00 -0000
levels                                                               6
reward levels                               25,100,200,750,2,000,3,500
updates                                                              0
comments                                                             0
duration                                                         49.09
weekday                                                            Sat
weekday_nr                                                           6
nr_in_month                                                         31
month                                                              Mar
month_nr                                                             3
year                                                              2012
time                                                    03:59:00 -0000
date                                               2012-03-31 00:00:00
Name: 34811, dtype: object

In [356]:
# Fix the state column
data2['state'] = data2['state'].replace('Middleburg, MD', 'MD')

In [357]:
# Make sure that state now is MD
data2.loc[34811 , : ]

project id                                                  1637912974
name                                                        light ball
url                  http://www.kickstarter.com/projects/819627388/...
category                                                    Technology
subcategory                                                 Technology
city                                                        Middleburg
state                                                               MD
status                                                          failed
canceled                                                             0
failed                                                               1
live                                                                 0
successful                                                           0
suspended                                                            0
goal                                                             19500
pledged                                                            103
funded percentage                                           0.00528205
backers                                                              3
funded date                            Sat, 31 Mar 2012 03:59:00 -0000
levels                                                               6
reward levels                               25,100,200,750,2,000,3,500
updates                                                              0
comments                                                             0
duration                                                         49.09
weekday                                                            Sat
weekday_nr                                                           6
nr_in_month                                                         31
month                                                              Mar
month_nr                                                             3
year                                                              2012
time                                                    03:59:00 -0000
date                                               2012-03-31 00:00:00
Name: 34811, dtype: object

In [ ]:
# Now we are going to make the new column (stating national or international)

In [362]:
np.where(data2['state']==(len(data2['state']) == 2), 'national', 'international')

array(['international', 'international', 'international', ...,
       'international', 'international', 'international'], dtype='<U13')

In [ ]:
A if len(string) == 2 else B

In [198]:
# look at failed rate and sucess rate per state (brute force solution)

In [245]:
apelsin = data2.groupby('state').sum()
apelsin.head()

,project id,canceled,failed,live,successful,suspended,goal,pledged,funded percentage,backers,levels,updates,comments,duration,weekday_nr,nr_in_month,month_nr,year
state,,,,,,,,,,,,,,,,,,
AK,111596899010,1.0,54.0,13.0,41.0,0.0,1386764.00,352367.0,57.109109,4667,797,346,266,4177.81,440,1734,599,219248
AL,176813834102,0.0,88.0,19.0,59.0,0.0,2080352.00,475996.0,86.402034,6596,1280,510,697,6608.23,753,2600,963,333875
AR,121944410094,0.0,54.0,13.0,38.0,0.0,928361.00,212493.0,63.912967,3008,820,347,287,4206.37,434,1580,553,211196
AZ,698237561472,3.0,319.0,78.0,246.0,0.0,8092358.09,2072754.0,433.139596,29974,5148,2518,3869,25469.19,2701,9651,3900,1299342
Afghanistan,17327868835,0.0,5.0,2.0,9.0,0.0,194400.00,90443.0,13.175067,859,111,117,78,571.53,76,196,70,32186

In [246]:
apelsin = apelsin.drop(['project id','goal','pledged','funded percentage','duration','backers','levels',
                       'updates','comments','weekday_nr','nr_in_month','month_nr','year'], axis=1)
apelsin.head()

             canceled  failed  live  successful  suspended
state
AK                1.0    54.0  13.0        41.0        0.0
AL                0.0    88.0  19.0        59.0        0.0
AR                0.0    54.0  13.0        38.0        0.0
AZ                3.0   319.0  78.0       246.0        0.0
Afghanistan       0.0     5.0   2.0         9.0        0.0

In [247]:
apelsin['sum'] = apelsin['canceled'] + apelsin['failed'] + apelsin['live'] + apelsin['successful'] + apelsin['suspended']
apelsin.head()

             canceled  failed  live  successful  suspended    sum
state
AK                1.0    54.0  13.0        41.0        0.0  109.0
AL                0.0    88.0  19.0        59.0        0.0  166.0
AR                0.0    54.0  13.0        38.0        0.0  105.0
AZ                3.0   319.0  78.0       246.0        0.0  646.0
Afghanistan       0.0     5.0   2.0         9.0        0.0   16.0

In [248]:
apelsin['success rate'] = apelsin['successful'] / apelsin['sum']
apelsin['fail rate'] = apelsin['failed'] / apelsin['sum']
apelsin.head()

,canceled,failed,live,successful,suspended,sum,success rate,fail rate
state,,,,,,,,
AK,1.0,54.0,13.0,41.0,0.0,109.0,0.376147,0.495413
AL,0.0,88.0,19.0,59.0,0.0,166.0,0.355422,0.530120
AR,0.0,54.0,13.0,38.0,0.0,105.0,0.361905,0.514286
AZ,3.0,319.0,78.0,246.0,0.0,646.0,0.380805,0.493808
Afghanistan,0.0,5.0,2.0,9.0,0.0,16.0,0.562500,0.312500

In [250]:
apelsin.sort_values('success rate', ascending=False)

,canceled,failed,live,successful,suspended,sum,success rate,fail rate
state,,,,,,,,
Cameroon,0.0,0.0,0.0,2.0,0.0,2.0,1.000000,0.000000
Kazakhstan,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Mali,0.0,0.0,0.0,6.0,0.0,6.0,1.000000,0.000000
Suriname,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Micronesia,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Sudan,0.0,0.0,0.0,4.0,0.0,4.0,1.000000,0.000000
Libyan Arab Jamahiriya,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Sierra Leone,0.0,0.0,0.0,2.0,0.0,2.0,1.000000,0.000000
Vanuatu,0.0,0.0,0.0,2.0,0.0,2.0,1.000000,0.000000
Namibia,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Bermuda,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Tajikistan,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Malawi,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Belgium,0.0,0.0,0.0,5.0,0.0,5.0,1.000000,0.000000
Uruguay,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Saint Lucia,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Isle of Man,0.0,0.0,0.0,2.0,0.0,2.0,1.000000,0.000000
Papua New Guinea,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
El Salvador,0.0,0.0,0.0,4.0,0.0,4.0,1.000000,0.000000
Estonia,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Argent,0.0,0.0,0.0,4.0,0.0,4.0,1.000000,0.000000
Trinidad and Tobago,0.0,0.0,0.0,2.0,0.0,2.0,1.000000,0.000000
Guinea,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000
Swaziland,0.0,0.0,0.0,2.0,0.0,2.0,1.000000,0.000000
Jordan,0.0,1.0,0.0,6.0,0.0,7.0,0.857143,0.142857
Singapore,0.0,2.0,0.0,8.0,0.0,10.0,0.800000,0.200000
Congo,0.0,0.0,1.0,3.0,0.0,4.0,0.750000,0.000000
Ethiopia,0.0,3.0,0.0,9.0,0.0,12.0,0.750000,0.250000
Indonesia,0.0,3.0,2.0,15.0,0.0,20.0,0.750000,0.150000
Serbia,0.0,0.0,1.0,3.0,0.0,4.0,0.750000,0.000000
...,...,...,...,...,...,...,...,...
Panama,0.0,3.0,0.0,1.0,0.0,4.0,0.250000,0.750000
Slovenia,0.0,2.0,1.0,1.0,0.0,4.0,0.250000,0.500000
Lithuania,0.0,4.0,0.0,1.0,0.0,5.0,0.200000,0.800000
Mt,0.0,22.0,7.0,7.0,0.0,36.0,0.194444,0.611111
WY,0.0,22.0,4.0,5.0,0.0,31.0,0.161290,0.709677
Syrian Arab Republic,0.0,2.0,0.0,0.0,0.0,2.0,0.000000,1.000000
Dominica,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Bahamas,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Bangladesh,0.0,2.0,0.0,0.0,0.0,2.0,0.000000,1.000000
Barbados,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000
Saudi Arabia,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Virginia,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000
Burkina Faso,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000
Central African Republic,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
"Scotland, United Kingdom",0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000
North Korea,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000
Dominican Re,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Equatorial Guinea,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000
United Arab Emirates,0.0,2.0,3.0,0.0,0.0,5.0,0.000000,0.400000
Myanmar,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Falkland Islands,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Guam,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
"Middleburg, MD",0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Martinique,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Iran,0.0,3.0,0.0,0.0,0.0,3.0,0.000000,1.000000
Malta,0.0,3.0,0.0,0.0,0.0,3.0,0.000000,1.000000
Qatar,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
Macedonia,0.0,2.0,0.0,0.0,0.0,2.0,0.000000,1.000000
Kyrgyzstan,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,1.000000
"Kyoto, Japan",0.0,2.0,1.0,0.0,0.0,3.0,0.000000,0.666667

## Was the initial findings in themself correct?

#### Best lenght for compaign?
more then $6,000 - 35 days

less then $6,000 - a shorter duration is better

#### Different pledge goals at low and high amonts
But for both intervals a low pledge seem to me more successful. (No surprise)

#### Some types of campaign are more successful than others
<u>Category</u>

Dance, theater, music (most successfull)

Fashion, publishing, technology (fashion is by far least successfull)


<u>Sub categorys of the Music category</u>

Indie rock, country & folk, jazz, Classical music (most successfull)

Hip hop, electronic music, world music (Hip hop is by far least successfull)


#### When to launch?

Month: February

Day: Monday

Time: 9:00 am (EST)

(The variables was studied individually, this means that a Monday in February at 9:00 am might not necessarily be the best time.)

#### More comments, more success

Dubble the successrate with 1-2 comments

Tripple the successrate with 10 comments